{% assign header = site.data.header %}

{% if header %}
  <nav class="site-header">
    <ul>
    {% for item in site.data.header %}
      <li {% if page.url == item.link %} class="active"{% endif %} >
        {% if item.link contains 'http' %}
          <a href="{{ item.link }}">
            {{ item.name }}
          </a>
        {% else %}
          <a href="{{ item.link | prepend: site.baseurl }}">
            {{ item.name }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>

{% endif %}