.site-footer {
  &:hover,
  &:focus-within {
    a {
      opacity: .7;
    }
  }
}

.site-footer ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

.site-footer li {
  list-style: none;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0;
  &.active a {
    text-decoration: underline;
  }
}

.site-footer a {
  display: block;
  padding: .25em .5em;
  text-decoration: none;
  transition: opacity .125s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1;
  }
  color: black;
}

.site-footer {
  font-size: 2em;
} 

.language-switcher {
  margin-top: 10px;
}

.language-switcher .btn {
  display: inline-flex;
  font-size: 0.5em;
  align-items: center;
  color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.language-switcher .btn i {
  margin-right: 5px;
}

.site-footer {
  padding: 1rem;
  text-align: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3), 
       only screen and (-min--moz-device-pixel-ratio: 3), 
       only screen and (-o-min-device-pixel-ratio: 3/1), 
       only screen and (min-device-pixel-ratio: 3) {
  .site-footer {
    font-size: 5em;
  } 
}